<h1>New Theme</h1>

<% if @theme.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@theme.errors.count, "error") %> prohibited this Theme from being saved:</h2>
    <ul>
      <% @theme.errors.full_messages.each do |error| %>
        <li><p style="color: red"><%= error %></p></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@theme) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.submit %>
<% end %>