<!DOCTYPE html>
<html>
  <head>
    <title>Masterbuilders</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% #add = #javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
    <% if logged_in? %>
      <%= button_to("Logout", '/logout') %>
      <%= link_to("My Profile", user_path(current_user)) %>
    <% else %>
      <%= link_to("Log In/Signup", '/login') %>
    <% end %>    
    <%= link_to("Legosets", legosets_path) %>
    <%= link_to("Themes", themes_path) %>
    <%= link_to("Master Builders", users_path) %>  
    
    <%= yield %>
  </body>
</html>
