<h1>New Set</h1>

<% if @legoset.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@legoset.errors.count, "error") %> prohibited this Legoset from being saved:</h2>

    <ul>
      <% @legoset.errors.full_messages.each do |error| %>
        <li><p style="color: red"><%= error %></p></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if logged_in? %>
  <%= form_for(@legoset) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>    
    <%= f.label :theme %>
    <% if params[:theme_id] %>
      <%= f.text_field :theme, value: Theme.find(params[:theme_id]).name, readonly: true %><br><br>
    <% else %>
      <%= f.collection_select :theme_id, Theme.all, :id, :name, prompt: true %>    
      <%= f.fields_for :theme do |t| %>
        <%= t.label :name %>
        <%= t.text_field :name %><br><br>
      <% end %>
    <% end %>
    <%= f.label :number_of_pieces %>
    <%= f.number_field :number_of_pieces %><br><br>
    <%= f.label :price %>
    <%= f.number_field :price, step: 0.01%><br><br>
    <%= f.label :age %>
    <%= f.number_field :age %><br><br>
    <%= f.submit %>
  <% end %>
<% else %>
    <%= link_to("Please Log In to Create a Legoset", '/login') %>
<% end %>