<h1><%= @legoset.name %></h1>

<%= "Number of pieces: #{@legoset.number_of_pieces}" %><br>
<%= "Price: $#{@legoset.display_price}" %><br>
<%= "Age: #{@legoset.age}+"%><br>
<%= link_to("Edit", edit_legoset_path(@legoset)) %>
<%= button_to("Delete", legoset_path(@legoset), method: 'delete')%>