<h1><%= @legoset.name %></h1>

<%= "Number of pieces: #{@legoset.number_of_pieces}" %><br>
<%= "Theme: " %>
<%= link_to("#{@legoset.theme.try(:name)}", theme_path(@legoset.theme)) %><br>
<%= "Price: $#{@legoset.display_price}" %><br>
<%= "Age: #{@legoset.age}+"%><br>
<%= "Built by: #{@legoset.user.username}" %><br><br>
<%= link_to("Edit", edit_legoset_path(@legoset)) %>
<%= button_to("Delete", legoset_path(@legoset), method: 'delete')%>